{% extends "index.html" %}
{% block head %}
<p>Hello {{ nickname }}!</p>
<a href="{{ url|safe }}" class="btn">{{ linktext }}</a>
<form action="/list.html/add-list" method="post">
    <label for="list">Add a new list:</label>
    <input type="text" id="list" name="list" required>
    <input type="submit" value="Add">
</form>
<form action="/list.html/delete-list" method="post">
    <input type="hidden" name="list_name" value="{{ list_name }}">
    <input type="submit" value="Delete this list">
</form>
<p id="name_alert">{{ name_alert }}</p>
<p class="d-none" id="item_alert">{{ item_alert }}</p>



<form id="selectList">
    <label for="list">Your lists:</label>
    <select id="list" name="list" onchange="this.form.submit()">
        <option value="choose" selected disabled>Choose a list</option>
        {% for list in lists %}
        {% if list_name == list.name %}
        <option value="{{ list.name }}" selected>{{ list.name }}</option>
        {% else %}
        <option value="{{ list.name }}">{{ list.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
</form>

<form action="/list.html/add" method="post">
    <label for="item">Add an item:</label>
    <input type="text" id="item" name="item" required>
    <input type="hidden" name="list_name" value="{{ list_name }}">
    <input type="submit" value="Add" onclick="item_alert()">
</form>
<p id="item_alert">{{ item_alert }}</p>
<div class="container" id="listArea">
    {% for item in list_items %}
    <ul>

        <form action="/list.html/edit" method="post">
            <input type="text" name="edit_item" value="{{ item.item }}" id="{{ item.key.id() }}Input" readonly>
            <input type="hidden" name="item_id" value="{{ item.key.id() }}">
            <input type="hidden" name="list_name" value="{{ list_name }}">
            <input type="submit" value="Save" class="d-none" id="{{ item.key.id() }}Submit"
                onclick="submitEdited(this.id)">
        </form>
        <form action="/list.html/delete" method="post">
            <input type="hidden" name="list_name" value="{{ list_name }}">
            <input type="hidden" name="item_id" value="{{ item.key.id() }}">
            <input type="submit" value="x">
        </form>
        <button id="{{ item.key.id() }}Button" class="edit_button" onclick="edit(this.id)"><i
                class="fas fa-edit"></i></button>

    </ul>
    {% endfor %}
</div>
<form action="/list.html/delete-all" method="post">
    <input type="hidden" name="list_name" value="{{ list_name }}">
    <input type="submit" value="Delete all" id="delete-all-button">
</form>
{% endblock %}