{% extends "index.html" %}
{% block head %}
<div class="container-fluid text-center py-2 py-sm-5">
    <h1 id="greeting">Hello {{ nickname }}!</h1>
</div>
<main>

    <div class="container-fluid m-auto">
        <div class="row justify-content-center">
            <!-- Field to add a new list-->
            <div class="col-12 col-sm-6 text-left text-sm-center pb-2 pb-sm-3">
                <div id="add-new-list">
                    <form action="/list.html/add-list" method="post">
                        <label for="list">Add a new list:</label>
                        <input type="text" id="list" name="list" class="vertical" maxlength="12" required onkeyup="countCharacters('remainingChars', this.id)">
                        <p class="charCounter"><span id="remainingChars">12</span>/12</p>
                        <input type="submit" value="Add" class="btn btn-primary btn-sm vertical">
                    </form>
                </div>
            </div>

            <!-- Drop down to select a list -->
            <div class="col-12 col-sm-6 text-left text-sm-center pb-2 pb-sm-3">
                <form class="d-inline-block" id="selectList">
                    <label for="list">Your lists:</label>
                    <select id="list" name="list" class="vertical" onchange="this.form.submit()">
                        <option value="choose" selected disabled>Choose a list</option>
                        {% for list in lists %}
                        {% if list_name == list.name %}
                        <option value="{{ list.name }}" selected>{{ list.name }}</option>
                        {% else %}
                        <option value="{{ list.name }}">{{ list.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>

                <!-- Button to delete current (selected) list -->

                <form action="/list.html/delete-list" method="post" class="d-inline-block">
                    <input type="hidden" name="list_name" value="{{ list_name }}">
                    <input type="submit" value="Delete this list" class="btn btn-danger btn-sm vertical">
                </form>
                <p id="nameAlert">{{ name_alert }}</p>
                <p class="d-none" id="itemAlert">{{ item_alert }}</p>

            </div>

            <!-- Field to add an item to the list -->
            <div class="col-12 text-left text-sm-center pb-3 pb-sm-4">
                <form action="/list.html/add" method="post">
                    <label for="item">Add an item:</label>
                    <input type="text" id="addItem" name="item" class="vertical" maxlength="30" required onkeyup="countCharacters('remainingCharsItems', this.id)">
                    <p class="charCounter"><span id="remainingCharsItems">30</span>/30</p>
                    <input type="hidden" name="list_name" value="{{ list_name }}">
                    <input type="submit" value="Add" class="btn btn-primary btn-sm vertical" onclick="item_alert()">
                </form>
            </div>

        </div>
        <div class="container">
            <div class="row justify-content-between">
                
            <h2 class="vertical">{{ list_name }}</h2>
        
            <!-- Button to delete all items in the list -->
            
            <div class="text-center pb-2 pb-sm-3" id="delete-all">
                <form action="/list.html/delete-all" method="post">
                    <input type="hidden" name="list_name" value="{{ list_name }}">
                    <input type="submit" value="Delete all items" class="btn btn-danger btn-sm vertical" id="delete-all-button">
                </form>
            
        </div>
        </div>
        </div>
        <!-- List displayed here -->
        <div class="container border border-dark rounded text-center" id="listArea">
            <p id="item_alert">{{ item_alert }}</p>
            <div class="row">
                <div class="col">
                    {% for item in list_items %}
                    <div class="row justify-content-center">
                        <!-- Items displayed and edited here -->
                        <form action="/list.html/edit" method="post" id="item">
                            <input type="text" name="edit_item" value="{{ item.item }}" id="{{ item.key.id() }}Input"
                                class="noBorder itemInput" maxlength="30" readonly>
                            <input type="hidden" name="item_id" value="{{ item.key.id() }}">
                            <input type="hidden" name="list_name" value="{{ list_name }}">
                            <input type="submit" value="Save" class="d-none" id="{{ item.key.id() }}Submit"
                                onclick="submitEdited(this.id)">
                        </form>

                        <!-- Edit button that triggers the input field to be editable -->
                        <button id="{{ item.key.id() }}Button" class="edit_button" onclick="edit(this.id)"><i
                                class="fas fa-edit"></i></button>

                        <!-- Delete item button -->
                        <form action="/list.html/delete" method="post">
                            <input type="hidden" name="list_name" value="{{ list_name }}">
                            <input type="hidden" name="item_id" value="{{ item.key.id() }}">
                            <button type="submit"><i class="fas fa-times"></i></button>
                        </form>
                    </div>



                    {% endfor %}
                </div>
            </div>

        </div>


</main>
{% endblock %}