body {
    font-size: .75rem;
}

#greeting,
h2 {
    font-size: 1.25rem;
}

h2 {
    margin: 0;
    padding-top: 4px
}
#currentList {
    font-weight: 300;
    font-size: 1rem;
}

#listArea {
    height: 50vh;
    overflow-y: auto;
    background-color: #ffffe6;
    -webkit-box-shadow: inset 0px 0px 14px 3px #D9D9D9;
    box-shadow: inset 0px 0px 14px 3px #D9D9D9;
}

.vertical {
    vertical-align: middle;
}

#nameAlert,
#itemAlert {
    margin: 0;
    height: 16px;
    color: #b8090c;
    font-weight: 700;
}

.noBorder {
    border: none;
}

#item {
    width: 70%;
    text-align: left;
    padding-left: 4px;
}

.itemInput {
    width: 80%;
    background-color: #ffffe6;
}

label {
    font-weight: 700;
}

.charCounter {
    font-size: .5rem;
    display: inline;
}

.fa-check {
    line-height: 180%
}

#listHeader {
    padding: 0 15px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .row {
    max-width: 540px;
    margin: auto;
}
}

@media only screen and (min-width: 768px) and (max-width:  991.98px) {


    .row {
        margin: auto;
    }
}

@media (min-width: 992px){
    body {
        font-size: 1.25rem;
    }
.row {
    max-width: 1140px;
    margin: auto;
}


.inputLine {
    padding-top: calc(50vh / 5);
}

#greeting {
    font-size: 1.75rem;
}
}